@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500&display=swap");

$breakpoints: (
  small: 480px,
  medium: 720px,
  large: 960px,
  wide: 1200px,
);
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

$grayBase: rgb(35, 34, 37);
$grayLight: rgb(40, 39, 43);
$grayLighter: rgb(48, 47, 52);
$slate: rgb(230, 221, 221);
$fireRed: rgb(105, 12, 12);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  background: $grayBase;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginWrapper {
    height: 60%;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    // background-image: linear-gradient(45deg, #f3ec78, #af4261);

    .titleWrapper {
      position: relative;
      font-family: "Roboto Condensed", sans-serif;

      .overlay {
        z-index: 5;
        position: absolute;
        font-size: 5em;
        // background-image: src(
        //   "https://t3.ftcdn.net/jpg/02/98/10/14/360_F_298101413_P0irRtbi9Qr084cQb0YgSmisY7cI5IPL.jpg"
        // );
        // clip-path: text;
        // -webkit-text-fill-color: transparent;
        color: transparent;
        background-size: 100%;
        background: url("https://t3.ftcdn.net/jpg/01/24/17/42/240_F_124174200_aC64Gl0Njz75sgGuotbFaZgQLliv3V1T.jpg")
          90% -10% no-repeat;
        background-clip: text;
        mix-blend-mode: multiply;
        opacity: 0.45;
      }

      .appTitle {
        position: relative;
        z-index: 2;
        font-size: 5em;
        color: rgb(123, 12, 12);
        background-image: linear-gradient(to right, $fireRed, #dc5912, $fireRed);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 8s linear infinite;
        filter: drop-shadow(-2mm 0mm 1px black);
      }

      .shadow {
        z-index: 1;
        position: absolute;
        color: black;
        top: 0px;
        left: -55px;
        font-size: 5em;
        transform: skewX(60deg);
        filter: blur(3px);
        animation: shadowMove 3s infinite;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      width: 200px;

      input {
        border: none;
        outline: none;
        padding: 1em;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
      }

      a {
        text-decoration: none;
        color: $slate;
        font-size: 0.8em;
      }

      label {
        border: 2px solid black;
        padding: 1em;
        background-color: $fireRed;
        filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.407));
        border-radius: 50%;
        display: grid;
        cursor: pointer;
      }
    }

    .btn {
      border: none;
      background-color: rgb(0, 153, 241);
      padding: 1em 2em;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.5s;
      color: white;
      &:hover {
        background-color: rgb(28, 48, 207);
      }
    }
  }
  .homeWrapper {
    // border: 2px solid $slate;
    display: flex;
    background-color: $grayLight;
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: rgba(25, 24, 24, 0.2) 5px 5px 20px 0px, rgba(25, 24, 24, 0.4) 10px 10px 20px 0px,
      rgba(25, 24, 24, 0.604) 15px 15px 10px 0px;
    @include breakpoint(large) {
      height: 85%;
      width: 65%;
    }

    .active {
    }

    .sidebar {
      flex: 1;
      border-right: 1px solid rgba(111, 111, 111, 0.411);
      max-height: 100%;
      overflow: hidden;

      .sidebarNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em;
        // border-bottom: 2px solid $slate;
        font-size: 0.8em;

        .sidebarNavLogo {
          display: flex;
          align-content: center;

          .fireLogo {
            width: 30px;
            height: 30px;
            fill: $fireRed;
            filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.664));
          }
        }

        .logoutBtn {
          border: none;
          background: transparent;
          color: white;
          font-size: 1em;
          font-family: "Poppins", "Sans";
          cursor: pointer;
        }
      }

      .sidebarNavRight {
        display: flex;
        align-items: center;
        gap: 1em;
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
      }

      input {
        width: 100%;
        border: none;
        padding: 1em;
        color: $slate;
        background-color: rgba(27, 27, 27, 0.689);
        // font-family: "Roboto Condensed", "Sans";

        &:focus {
          outline: none;
        }
      }
      ::placeholder {
        color: $slate;
        opacity: 0.8;
        font-weight: bold;
      }

      .chats {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        height: 100%;
        overflow: scroll;

        .user {
          padding: 0.5em 0;
          position: relative;
          display: flex;
          gap: 0.5em;
          justify-content: flex-start;
          align-items: center;
          font-family: "Open Sans", "Sans";

          &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 1px;
            width: 75%;
            border-bottom: 1px solid rgba(167, 167, 167, 0.195);
          }

          img {
            width: 50px;
            height: 50px;
            filter: drop-shadow(0mm 0mm 5px rgba(0, 0, 0, 0.279));
          }

          span {
          }

          p {
            opacity: 0.3;
            font-size: 0.8em;
          }
        }
      }
    }

    .chat {
      flex: 2;
      display: flex;
      flex-direction: column;

      .chatHeader {
        padding: 1em;
        text-align: center;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;

        // border-bottom: 2px solid $slate;
      }

      .messageInput {
        color: black;
        display: flex;
        height: 100px;

        textarea {
          background-color: $grayLighter;
          color: white;
          padding: 0.5em;
          resize: none;
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
        }

        .sendBtn {
          border: none;
          background-color: firebrick;
          padding: 1em;
        }
      }

      .convo {
        height: 100%;
        overflow: scroll;
        font-size: 0.8em;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.527) 0px 2px 30px -10px inset;
      }

      .message {
        display: flex;
        align-items: flex-end;
        gap: 0.5em;
        padding: 0.5em 0;
        max-width: 90%;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          filter: drop-shadow(0mm 0mm 5px rgba(0, 0, 0, 0.279));
        }

        .speechBubble {
          border: 2px solid $slate;
          background-color: white;
          color: black;
          padding: 1em;
          border-radius: 30px 30px 30px 0px;
        }
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shadowMove {
  0% {
    filter: blur(3px);
  }

  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(3px);
  }
}
